.advantage{
  position: relative;
  padding: 60px 0;
  background-color: #ececec;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
    background-image: url('../i/teeth.png');
    background-repeat: repeat-x;
  }
}
.advantage__desc{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.advantage__item{
  display: inline-block;
  position: relative;
  width: 22%;
  height: 211px;
  color: #fff;
  margin-right: 20px;
  background-position: 50% 20%;
  &:last-child{
    margin-right: 0;
  }
  &:hover{
    .advantage__msg{
      padding: 15px 25px;
    }
  }
  @include bp(tablet){
    height: 175px;
  }
}

.advantage__item--warranty{
  @include advantage(#f65e5e, a-scales);

}
.advantage__item--payback{
  @include advantage(#3bb3e8, a-calendar);
}
.advantage__item--experience{
  @include advantage($c-green, a-star);
}
.advantage__item--code{
  @include advantage(#5a538d, a-code);
}


.advantage__msg{
  display: inline-block;
  padding: 10px 25px;
  @include transition-property(padding);
  @include transition-duration(0.5s);
  @include bp(tablet){
    font-size: .7em;
  }
}