.call--price{
  background-color: #5a538d;
  padding: 50px 0 38px;
  @include legacy-pie-clearfix;
}
.price__left{
  float: left;
  width: 55%;
  padding-left: 60px;
}
.price__right{
  float: right;
  width: 35%;
  text-align: center;
  vertical-align: middle;
}