.clients-reviews{
  background-color: #ececec;
  padding: 50px 0;
}
.review__container{
  width: 860px;
  height: 330px;
  margin: 0 40px;
  padding: 37px 0 47px;
  @include legacy-pie-clearfix;
  background-color: #fff;
  @include bp(tablet){
    width: 640px;
  }

}
.review__user{
  width: 30%;
  text-align: center;
  display: inline-block;
}
.review__content{
  display: inline-block;
  width: 65%;
  vertical-align: top;
  p{
    margin: 0;
  }
}
.client__avatar{
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: 140px;
  border-radius: 280px;
  background-image: url('../i/no_avatar.jpg');
}
.avatar__img{
  border-radius: 280px;
}
.client__name{
  margin-top: 15px;
  color: #5a538d;
  display: block;
  font-family: 'SegoeSB', Arial, sans-serif;
  font-size: 18px;
}
.client__post{
  display: block;
  padding: 0 30px;
  font-size: 14px;
  margin-bottom: 15px;
}
.client__contact-title{
  font-family: 'SegoeSB', Arial, sans-serif;
  display: block;
}
.client__link{
  font-family: 'SegoeSB', Arial, sans-serif;
  color: #3bb3e8;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}
.client__link.vk-ico{
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../i/vk.png');
}
.chart__img{
  width: 100%;
  height: auto;
}