.header{
  background-color: #fff;
  margin-top: 20px;
  position: relative;
  @include bp(tablet){
    margin-top: 0;
  }
}
.top-line{
  @extend .container;
  @include legacy-pie-clearfix;
}
.logo{
  display: inline-block;
  vertical-align: bottom;
}
.slogan{
  display: inline-block;
  width: 400px;
  background-image: url('../i/arrow-r-header.png');
  background-repeat: no-repeat;
  background-position: 10px 0;
  padding-left: 45px;
  line-height: 30px;
  @include bp(tablet){
    width: 255px;
  }

}
.slogan__text{
  font-size: 26px;
  line-height: 31px;
  font-family: 'SegoeSB', Arial, sans-serif;
  @include bp(tablet){
    font-size: 18px;
    line-height: 20px;
  }
}
.contact-info{
  float: right;
  text-align: right;
  @include bp(tablet){
    position: absolute;
    top: 104px;
    right: 30px;
  }
}
.work__time{
  display: block;
  font-family: 'SegoeSB', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}
.phone__number{
  display: block;
  font-family: 'SegoeSB', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
