.how-we-work{
  padding: 60px 0;
  text-align: center;
}
.how__items{
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  @include legacy-pie-clearfix;
}
.how__item{
  display: block;
  position: relative;
  width: 33.3%;
  float: left;
}
.how__ico{
  display: block;
  background-color: #c2c7d3;
  margin: 10px auto;
  width: 90px;
  height: 90px;
  border-radius: 180px;
  &:hover{
    background-color: #ccd1dd;
  }
}
.how__title{
  display: block;
  padding: 0 5px;
}
.how__ico--phone{
  background-image: url('../i/phone.png');
}
.how__ico--analise{
  background-image: url('../i/analise.png');
}
.how__ico--present{
  background-image: url('../i/present.png');
}
.how__ico--respect{
  background-image: url('../i/respect.png');
}
.how__ico--prepare{
  background-image: url('../i/prepare.png');
}
.how__ico--calendar{
  background-image: url('../i/calendar.png');
}
.how__arrow{
  display: block;
  width: 62px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: -31px;
  background-image: url('../i/arrow-r.png');
}