.main{
  background-image: url('../i/header_bg.jpg');
  background-position: 50% 50%;
  padding: 40px 0;
  @include legacy-pie-clearfix;
  border-top: 4px solid #e4e2e2;
}
.promo{
  display: inline-block;
  background-image: url('../i/promo.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 590px;
  height: 385px;
  @include bp(tablet){
    width: 400px;
    background-position-x: 80%;
    padding-bottom: 40px;
  }
}
.promo__msg{
  font-size: 30px;
  line-height: 40px;
  @include bp(tablet){
    font-size: 26px;
    line-height: 28px;
  }
}
.order-form{
  float: right;
  width: 246px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 27px 27px 16px;
  border-bottom: 5px solid #dacfd6;
  @include bp(tablet){
    width: 180px;
    padding: 23px 23px 14px;
    margin-top: 100px;
  }
}