.our-services{
  background-color: #ececec;
  padding: 33px 0 35px;
}
.services__list{
  padding-top: 40px;
}
.services__items{
  list-style-type: none;
  margin: 0 0 13px;
  padding: 0;
  @include legacy-pie-clearfix;
}
.services__item{
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
  width: 25%;
  float: left;
  vertical-align: top;
}

.services__title{
  display: block;
  text-align: center;
}
.services__ico{
  display: inline-block;
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
}
.s-card{
  background-image: url('../i/s/card.png');
}
.s-shop{
  background-image: url('../i/s/shop.png');
}
.s-mobile{
  background-image: url('../i/s/mobile.png');
}
.s-design{
  background-image: url('../i/s/design.png');
}
.s-client-gen{
  background-image: url('../i/s/client-gen.png');
}
.s-campaign{
  background-image: url('../i/s/campaign.png');
}
.s-business{
  background-image: url('../i/s/business.png');
}
.s-corp{
  background-image: url('../i/s/corp.png');
}
