span.error, span.alert
    background: none
    border: none
    color: #FF7777
    display: block
    font-size: 12px
    margin: -5px 0 5px
    padding: 0
    
#cboxWrapper
    >div>div
        background-color: #FFF
        background-image: none
        display: none
    >div>#cboxContent
        display: block

#cboxLoadedContent
    margin-top: 35px
    
#cboxClose
    background: url('../i/close-cross.png') no-repeat -25px 0
    background-position: center center
    border: 0
    padding: 0
    margin: 0
    overflow: visible
    position: absolute
    top: 0
    right: 0
    width: 25px
    height: 25px
    text-indent: -9999px

#cboxContent
    // height: 100px!important
    width: inherit
    form
        margin: 0 0 0 23px
    input[type=text]
        font-size: 16px
        height: 31px
        padding-top: 0
        padding-bottom: 0
        vertical-align: middle
        
    #order-call
        vertical-align: middle
        input[type=text]
            width: 308px
        .btn
            border-left: none
            border-right: none
            border-top: none
            position: absolute
            right: 25px
            top: 35px 

    #order-consult
        textarea,
        input[type=text]
            display: block
            margin: 17px 0px
            width: 300px
        .btn
            width: 150px
