.we-know{
  position: relative;
  background-color: #ececec;
  padding: 80px 0;
  text-align: center;
}
.we-know__down-link{
  top: 0;
  left: 50%;
  width: 225px;
  height: 41px;
  margin-left: -112px;
  position: absolute;
  background-image: url('../i/white-down.png');
  background-repeat: no-repeat;
}
.we-know__list{
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  display: inline-block;

}
.we-know__item{
  padding-left: 35px;
  background-image: url('../i/bullet.png');
  background-repeat: no-repeat;
  font-size: 20px;
  margin-bottom: 17px;
  line-height: 22px;
  text-align: left;
}