.why-we{
  @include legacy-pie-clearfix;
  margin-bottom: 68px;
}
.why__top{
  padding: 60px 0 40px;
  text-align: center;
  background-color: #ececec;
  position: relative;

}
.why__line{
  @include legacy-pie-clearfix;
}
.why__line--firs{
  margin-top: 50px;
}
.studio__col {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  position: relative;
  padding-bottom: 10px;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
  }
}
.studio__col--title{
  &:after{
    top: 40%;
  }
}
.studio__another {
  &:after{
    background-color: $c-red;
  }
}
.studio__our {
  &:after{
    background-color: $c-green;
  }

}
.studio__msg{
  padding: 0 30px;
  margin: 5px 0 0;
}
.client__brand-img{
  @include filter(grayscale(100%));
  &:hover{
    @include filter(grayscale(0%));
  }
}