.work-us{
  padding: 50px 0 70px;
}
.clients__brands{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.client__brand{
  margin-right: 17px;
  display: inline-block;
  &:last-child{
    margin-right: 0;
  }
}