<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <%= stylesheet_link_tag "all" %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  </head>
  
  <body class="<%= page_classes %>">
  <div class="wrapper">
    <div class="header"><%= partial "b/header" %></div>
    <div class="main"><%= partial "b/main" %></div>
    <div class="advantage"><%= partial "b/advantage" %></div>
    <div class="work-us" id="clients"><%= partial "b/work-us" %></div>
    <div class="we-know"><%= partial "b/we-know" %></div>
    <div class="our-works" id="portfolio"><%= partial "b/our-works" %></div>
    <div class="call call--analytics"><%= partial "b/call-analytics" %></div>
    <div class="clients-reviews" id="reviews"><%= partial "b/clients-reviews" %></div>
    <div class="call call--strategy"><%= partial "b/call-strategy" %></div>
    <div class="our-services" id="services"><%= partial "b/our-services" %></div>
    <div class="call call--price" id="order"><%= partial "b/call-price" %></div>
    <div class="why-we"><%= partial "b/why-we" %></div>
    <div class="call call--prof"><%= partial "b/call-prof" %></div>
    <div class="how-we-work" id="how-we-work"><%= partial "b/how-we-work" %></div>
    <div class="call call--profit"><%= partial "b/call-profit" %></div>
    <div class="call call--contacts" id="contacts"><%= partial "b/call-contacts" %></div>
    <div class="footer"><%= partial "b/footer" %></div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag  "all" %>

  </body>
</html>