.btn{
  display: inline-block;
  text-decoration: none;
  border-bottom: 4px solid;
  @include btn-color(#fff, #f65e5e, #d9564d);
  padding: 5px 28px;
}
.btn--submit{
  width: 100%;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 20px;
  &:active, &:focus{
    outline: none;
  }

}
.btn--cyan{
  @include btn-color(#fff, #3bb3e8, #2c8db8);
}
.btn--green{
  @include btn-color(#fff, $c-green, #479b5e);
}

.btn--call{
  text-transform: uppercase;
  font-family: 'SegoeSB', Arial, sans-serif;
  padding: 15px 20px;
}
.btn--price{
  text-transform: uppercase;
  padding: 13px 26px;
  margin-top: 30px;
}