.legend{
  font-family: 'SegoeSB', Arial, sans-serif;
  line-height: 18px;
  margin-bottom: 25px;
  @include bp(tablet){
    font-size: 12px;
    line-height: 14px;
  }
}
.input{
  border: none;
  background-color: #ebebeb;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  @include input-placeholder{
    color: #000;
    text-align: center;
  }
  &.error{
    border: 1px solid #FF7193;
  }
}
.info__msg{
  color: #898989;
  font-family: 'SegoeSB', Arial, sans-serif;
  font-size: 14px;
}