.nav{
  margin-top: 11px;
  border-top: 1px solid #e1e1e1;
  @include bp(tablet){
    margin-top: 0;
    border: none;
  }
}
.nav__items{
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include bp(tablet){
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
}
.nav__item{
  display: inline-block;
  @include bp(tablet){
    display: block;
  }
}
.nav__items--toggle{
  display: block;
}
.nav__link{
  color: #000;
  text-decoration: none;
  display: block;
  padding: 20px 14px;
  &:hover{
    color: #fff;
    background-color: #3bb3e8;
  }
}
.nav__toggle{
  display: none;
  background-color: #3bb3e8;
  border: none;
  &:hover, &:focus, &:active{
    outline: none;
  }
  @include bp(tablet){
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 55px;
    height: 43px;
  }
}