.slider{

}
/* @group Base Flipster Styles */
.flipster {
  display: block;
  margin: 0 40px;
  width: 100%;
  position: relative;
}
.flip-items,
.flip-item {
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.flip-items {
  width: 860px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

}
.flip-content{
  @include bp(tablet){
    width: 350px;
  }
}

.flip-item {
  position: absolute;
  opacity: 0.99;
  /* Fix for strange clipping behavior on rotated elements in Chrome. */

}
.flip-past,
.flip-future,
.flip-next,
.flip-prev {
  cursor: pointer;
}
.flip-item img {
  display: block;
  width: 100%;
}
/* @end */
/* @group Coverflow Style */
.flipster-coverflow .flip-items {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  position: relative;
  padding-top: 2%;
  padding-bottom: 5%;
}
.flipster-coverflow .flip-item {
  display: block;
  -webkit-transition: all 175ms ease-in-out;
  -moz-transition: all 175ms ease-in-out;
  -o-transition: all 175ms ease-in-out;
  -ms-transition: all 175ms ease-in-out;
  transition: all 175ms ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  position: absolute;
  width: 30%;
}
.flipster-coverflow .flip-content {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgba(255, 255, 255, 0.12)), color-stop(0.2, transparent));
}
.flipster-coverflow .flip-past .flip-content {
  
}
.flipster-coverflow .flip-future .flip-content {

}

.flipster-coverflow.no-rotate .flip-past .flip-content {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform:scale(0.75);
  -ms-transform:scale(0.75);
  transform: scale(0.75);
}
.flipster-coverflow.no-rotate .flip-future .flip-content {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}


.flipster-coverflow .flip-current .flip-content {

}
.flipster-coverflow .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
/* @end */
/* @group Flip Items */
.flipster-carousel .flip-items {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.flipster-carousel .flip-item {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}
.no-csstransforms .flipster-carousel .flip-item {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.flipster-carousel .flip-items img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.flipster-carousel .flip-past {
  -webkit-transform: translateX(-40%) translateZ(0) scale(0.65);
  -moz-transform: translateX(-40%) translateZ(0) scale(0.65);
  -o-transform: translateX(-40%) translateZ(0) scale(0.65);
  -ms-transform: translateX(-40%) translateZ(0) scale(0.65);
  transform: translateX(-40%) translateZ(0) scale(0.65);
}
.flipster-carousel.no-rotate .flip-past {
  -webkit-transform: translateX(-40%) translateZ(0)  scale(0.65);
  -moz-transform: translateX(-40%) translateZ(0)  scale(0.65);
  -o-transform: translateX(-40%) translateZ(0)  scale(0.65);
  -ms-transform: translateX(-40%) translateZ(0) scale(0.65);
  transform: translateX(-40%) translateZ(0) scale(0.65);
}
.no-csstransforms3d .flipster-carousel .flip-past {
  -webkit-transform: translateX(-56%) scale(0.5);
  -moz-transform: translateX(-56%) scale(0.5);
  -o-transform: translateX(-56%) scale(0.5);
  -ms-transform: translateX(-56%) scale(0.5);
  transform: translateX(-56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-past {
  left: -20%;
  top: 40%;
  width: 50%;
  height: 50%;
}
.flipster-carousel .flip-future {
  -webkit-transform: translateX(40%) translateZ(0) scale(0.65);
  -moz-transform: translateX(40%) translateZ(0) scale(0.65);
  -o-transform: translateX(40%) translateZ(0) scale(0.65);
  -ms-transform: translateX(40%) translateZ(0) scale(0.65);
  transform: translateX(40%) translateZ(0) scale(0.65);
}

.flipster-carousel.no-rotate .flip-future {
  -webkit-transform: translateX(40%) translateZ(0) scale(0.65);
  -moz-transform: translateX(40%) translateZ(0) scale(0.65);
  -o-transform: translateX(40%) translateZ(0) scale(0.65);
  -ms-transform: translateX(40%) translateZ(0) scale(0.65);
  transform: translateX(40%) translateZ(0) scale(0.65);
}

.no-csstransforms3d .flipster-carousel .flip-future {
  -webkit-transform: translateX(56%) scale(0.5);
  -moz-transform: translateX(56%) scale(0.5);
  -o-transform: translateX(56%) scale(0.5);
  -ms-transform: translateX(56%) scale(0.5);
  transform: translateX(56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-future {
  left: 88%;
  top: 40%;
  width: 50%;
  height: 50%;
}
.flipster-carousel .flip-prev {
  -webkit-transform: translateX(-44%) translateZ(0) scale(0.8);
  -moz-transform: translateX(-44%) translateZ(0) scale(0.8);
  -o-transform: translateX(-44%) translateZ(0) scale(0.8);
  -ms-transform: translateX(-44%) translateZ(0) scale(0.8);
  transform: translateX(-44%) translateZ(0) scale(0.8);
}
.flipster-carousel.no-rotate .flip-prev {
  -webkit-transform: translateX(-44%) translateZ(0) scale(0.8);
  -moz-transform: translateX(-44%) translateZ(0) scale(0.8);
  -o-transform: translateX(-44%) translateZ(0) scale(0.8);
  -ms-transform: translateX(-44%) translateZ(0) scale(0.8);
  transform: translateX(-44%) translateZ(0) scale(0.8);
}
.no-csstransforms3d .flipster-carousel .flip-prev {
  -webkit-transform: translateX(-24%) scale(0.75);
  -moz-transform: translateX(-24%) scale(0.75);
  -o-transform: translateX(-24%) scale(0.75);
  -ms-transform: translateX(-24%) scale(0.75);
  transform: translateX(-24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-prev {
  left: -9%;
  top: 20%;
  width: 75%;
  height: 75%;
}
.flipster-carousel .flip-next {
  -webkit-transform: translateX(44%) translateZ(0) scale(0.8);
  -moz-transform: translateX(44%) translateZ(0) scale(0.8);
  -o-transform: translateX(44%) translateZ(0) scale(0.8);
  -ms-transform: translateX(44%) translateZ(0) scale(0.8);
  transform: translateX(44%) translateZ(0) scale(0.8);
}
.flipster-carousel.no-rotate .flip-next {
  -webkit-transform: translateX(44%) translateZ(0)  scale(0.8);
  -moz-transform: translateX(44%) translateZ(0) scale(0.8);
  -o-transform: translateX(44%) translateZ(0) scale(0.8);
  -ms-transform: translateX(44%) translateZ(0) scale(0.8);
  transform: translateX(44%) translateZ(0) scale(0.8);
}

.no-csstransforms3d .flipster-carousel .flip-next {
  -webkit-transform: translateX(24%) scale(0.75);
  -moz-transform: translateX(24%) scale(0.75);
  -o-transform: translateX(24%) scale(0.75);
  -ms-transform: translateX(24%) scale(0.75);
  transform: translateX(24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-next {
  left: 39%;
  top: 20%;
  width: 75%;
  height: 75%;
}
.flipster-carousel .flip-past,
.flipster-carousel .flip-future {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  z-index: 1;
  -webkit-transition-delay: 87.5ms;
  -moz-transition-delay: 87.5ms;
  -o-transition-delay: 87.5ms;
  transition-delay: 87.5ms;
}
.flipster-carousel .flip-prev,
.flipster-carousel .flip-next {
  z-index: 2;
  -webkit-transition-delay: 58.333333333333336ms;
  -moz-transition-delay: 58.333333333333336ms;
  -o-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-current {
  z-index: 999;
  -webkit-transition-delay: 58.333333333333336ms;
  -moz-transition-delay: 58.333333333333336ms;
  -o-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateX(0) scale(0.5);
  -moz-transform: translateX(0) scale(0.5);
  -o-transform: translateX(0) scale(0.5);
  -ms-transform: translateX(0) scale(0.5);
  transform: translateX(0) scale(0.5);
  -webkit-transition-delay: 116.66666666666667ms;
  -moz-transition-delay: 116.66666666666667ms;
  -o-transition-delay: 116.66666666666667ms;
  transition-delay: 116.66666666666667ms;
}
/* @end */
.no-transition {
  -webkit-transition-duration: 0ms !important;
  -moz-transition-duration: 0ms !important;
  -o-transition-duration: 0ms !important;
  transition-duration: 0ms !important;
}
/* @end */

// Arrows
.flipto-next, .flipto-prev{
  display: block;
  position: absolute;
  width: 40px;
  height: 410px;
  top:0;
  text-indent: -9999px;
  background-repeat: no-repeat;
}
.flipto-prev{
  left: -40px;
  background-image: url('../i/s-l-g.png');
  background-position: 10px 150px;
}
.flipto-next{
  right: -40px;
  background-image: url('../i/s-r-g.png');
  background-position: 10px 150px;
}

.slider--review{
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 108px;
    height: 60px;
    background-image: url('../i/review-up.png');
    top: -60px;
    left: 75px;
    position: absolute;
  }
}

.touchcarousel {
  margin-top: 60px;
  position: relative;
  height: 410px;
  /* style is removed after carousel is inited, use !important if you want to keep it*/
  overflow: hidden;
}
.touchcarousel .touchcarousel-container {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
}
.touchcarousel .touchcarousel-wrapper {
  position: relative;
  overflow:hidden;
  width: 100%;
  height: 100%;
}





/******************************************************\
*
*  2. Carousel items (item styling, spacing between items)
*
\******************************************************/

.touchcarousel .touchcarousel-item {
  /* use margin-right for spacing between items */
  margin: 0 0 0 0;
  padding: 0;
  float: left;
}

/* Last carousel item  */
.touchcarousel .touchcarousel-item.last {
  margin-right: 0 !important;
}





/******************************************************\
*
*  3. Arrows(direction) navigation
*
\******************************************************/

/* arrow hitstate and icon holder */
.touchcarousel .arrow-holder {
  height: 100%;
  width: 45px;
  position: absolute;
  top: 0;
  display: block;
  cursor: pointer;
  z-index: 25;
  background-color: #c9ceda;
}
.touchcarousel .arrow-holder.left {
  left: 0;
}
.touchcarousel .arrow-holder.right {
  right: 0;
}

/* arrow icons */
.touchcarousel .arrow-icon{
  width: 45px;
  height: 86px;
  top:50%;
  margin-top:-45px;
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.touchcarousel .arrow-icon.left {
  background-image: url('../i/s-l-w.png');
}
.touchcarousel .arrow-icon.right {
  background-image: url('../i/s-r-w.png');
}
.touchcarousel .arrow-holder:hover .arrow-icon { }
.touchcarousel .arrow-holder.disabled { cursor: default; }
.touchcarousel .arrow-holder.disabled .arrow-icon { cursor: default; }





/******************************************************\
*
*  4. Paging navigation
*
\******************************************************/

.touchcarousel .tc-paging-container {
  width:100%;
  overflow:hidden;
  position:absolute;
  margin-top:-20px;
  z-index:25;
}
.touchcarousel .tc-paging-centerer {
  float: left;
  position: relative;
  left: 50%;
}
.touchcarousel .tc-paging-centerer-inside {
  float: left;
  position: relative;
  left: -50%;
}

/* Paging items */
.touchcarousel .tc-paging-item {
  float:left;
  cursor:pointer;
  position:relative;
  display:block;
  text-indent: -9999px;
}
.touchcarousel .tc-paging-item.current { }
.touchcarousel .tc-paging-item:hover { }





/******************************************************\
*
*  5. Scrollbar
*
\******************************************************/
.touchcarousel .scrollbar-holder {
  position: absolute;
  z-index: 30;
  left: 6px;
  right: 6px;
  bottom: 5px;
  height:4px;
  overflow: hidden;
}
.touchcarousel .scrollbar {
  position: absolute;
  left:0;
  height:4px;
  bottom: 0px;
}
.touchcarousel .scrollbar.dark {
  background-color: rgb(130, 130, 130);
  background-color: rgba(0, 0, 0, 0.5);
}
.touchcarousel .scrollbar.light {
  background-color: rgb(210, 210, 210);
  background-color: rgba(255, 255, 255, 0.5);
}

/* Cursor that used when mouse drag is disabled */
.touchcarousel .auto-cursor{ cursor:auto; }
