$width: 940px;

@mixin bp($point) {
  @if $point == smart {
    @media screen and  (max-width: 1600px) { @content; }
  }
  @else if $point == normal {
    @media screen and  (max-width: 1250px) { @content; }
  }
  @else if $point == tablet {
    @media screen and (max-width: 780px)  { @content; }
  }
}

// Mixin sections

//Placeholder

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


//Btn colors

@mixin btn-color($color, $bg-color, $border-color){
  color: $color;
  background-color: $bg-color;
  border-bottom-color: $border-color;
  &:hover{
    background-color: $border-color;
    border-bottom-color: $bg-color;
  }
}


@mixin advantage($color, $pick){
  background-color: $color;
  background-image: url('../i/#{$pick}.png');
  background-repeat: no-repeat;
  .advantage__desc{
    background-color: darken($color, 25%);
  }
}

// Color vars
$c-red: #f65e5e;
$c-green: #5ec77b;