body {
  font: 16px/20px 'Segoe', Arial, sans-serif;
  @include bp(tablet){
    font: 15px/18px 'Segoe', Arial, sans-serif;
  }
}
.wrapper{
  width: 100%;
  @include legacy-pie-clearfix;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding: 0;
  @include bp(tablet){
    width: 720px;
    padding: 0 30px;
  }
}