@include font-face('Segoe', font_files('segoeui-webfont.eot', 'segoeui-webfont.woff', 'segoeui-webfont.ttf'));
@include font-face('SegoeB', font_files('segoeuib-webfont.eot', 'segoeuib-webfont.woff', 'segoeuib-webfont.ttf'));
@include font-face('SegoeSB', font_files('seguisb-webfont.eot', 'seguisb-webfont.woff', 'seguisb-webfont.ttf'));
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
.title{
  line-height: 1em;
}

h2.title{
  font-size: 3em;
}
h3.title{
  font-size: 1.9em;
}
h4.title{
  font-size: 1.5em;
}
h5.title{}
h6.title{
  font-size: 1.1em;
}

.title--work{
  text-align: center;
}
.title--know{
  text-align: center;
}
.title--analytics{
  color: #fff;
  font-family: 'segoesb', Arial, sans-serif;
  margin-bottom: 35px;
}
.title--strategy{
  @extend .title--analytics;
}
.title--prof{
  @extend .title--analytics;
}
.title--profit{
  @extend .title--analytics;
}
.title--price{
  font-size: 24px;
  line-height: 35px;
  margin-top: 0;
  font-family: 'SegoeSB', Arial, sans-serif;
  color: #fff;
}

.title--our-studio {
  color: $c-green;
  margin: 0;
  &:before, &:after{
    background-color: $c-green;
  }
}
.title--another-studio {
  color: #f65e5e;
  margin: 0;
  &:before, &:after{
    background-color: #f65e5e;
  }
}

h3.title--studio {
  font-family: 'SegoeSB', Arial, sans-serif;
  padding-left: 67px;
  margin-bottom: 9px;
  position: relative;
  &:after, &:before{
    content: '';
    position: absolute;
    display: block;
  }
  &:before{
    width: 15px;
    height: 15px;
    border-radius: 30px;
    left: 45px;
    top: 13px;
  }
  &:after{
    width: 50px;
    height: 2px;
    left: 0;
    top: 20px;
  }
}
h6.title--studio {
  position: relative;
  padding-left: 30px;
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    left: 0;
    top: 9px;
  }

}
.title--how{
  font-size: 48px;
  line-height: 50px;
  margin: 0 0 40px;
}
.title--services{
  font-size: 48px;
  text-align: center;
}
.title--contacts{
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  margin: 0 0 60px;
}
.title--our-works{
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.title--reiews{
  font-size: 48px;
  text-align: center;
}

.title--footer{
  font-family: 'SegoeSB', Arial, sans-serif;
}
h2.title--footer{

  font-size: 48px;
  line-height: 50px;
}
h3.title--footer{
  font-size: 36px;
  line-height: 40px;
}
h4.title--footer{
  font-size: 27px;
}
.phone--footer{
  @extend .title--footer;
  font-size: 30px;
  display: inline-block;
  margin-right: 40px;
}
.mail__link--footer{
  margin-top: 20px;

  display: inline-block;
  font-size: 30px;
  height: 36px;
  line-height: 36px;
  padding-left: 65px;
  background-image: url('../i/mail.png');
  background-repeat: no-repeat;
}