<div class="container">
  <div class="advantage__item advantage__item--warranty">
    <div class="advantage__desc">
      <span class="advantage__msg">100% юридическая гарантия результата</span>
    </div>
  </div>
  <div class="advantage__item advantage__item--payback">
    <div class="advantage__desc">
      <span class="advantage__msg">Окупаемость проекта 14 дней</span>
    </div>
  </div>
  <div class="advantage__item advantage__item--experience">
    <div class="advantage__desc">
      <span class="advantage__msg">6 лет 2 месяца 4 дня опыта</span>
    </div>
  </div>
  <div class="advantage__item advantage__item--code">
    <div class="advantage__desc">
      <span class="advantage__msg">Мы написали 42 013 метров кода</span>
    </div>
  </div>
</div>