<div class="container">
  <h3 class="title title--contacts">Наши контакты</h3>
</div>
<div class="map">
  <div class="map__container" id="map"></div>
  <div class="order-form order-form--map">
    <form action="#" class="form form--order">
      <div class="form__row">
        <legend class="legend">Оставьте заявку прямо сейчас и мы настроим контекстную рекламу бесплатно!</legend>
      </div>
      <div class="form__row">
        <input class="input" type="text" placeholder="Ваше имя"/>
      </div>
      <div class="form__row">
        <input class="input" type="text" placeholder="Телефон"/>
      </div>
      <div class="form__row">
        <input class="btn btn--cyan btn--submit" type="submit" value="Отправить"/>
      </div>
      <div class="form__row">
        <span class="info__msg">Ваши данные не будет переданы третьим лицам</span>
      </div>
    </form>
  </div>
  <div class="map__address">
    <span class="map__address-line">г. Ростов-на-Дону</span>
    <span class="map__address-line">ул. Семашко 114, оф. 310</span>
    <span class="map__address-line map__address-line--phone">8 (989) 614-07-77</span>
    <span class="map__address-line"><a class="mail__link" href="mailto:mail@tergetweb.ru">mail@tergetweb.ru</a></span>
  </div>
</div>
