<div class="container">
  <div class="price__left">
    <h4 class="title title--price">Гибкая система платежей <br/>
      Предоплата 25% от стоимости проекта <br />
      Юридическая ответственность по срокам</h4>
  </div>
  <div class="price__right">
    <a class="btn btn--cyan btn--price" href="#">Узнать стоимость</a>
  </div>
</div>