<div class="container">
  <h2 class="title title--reiews">Отзывы наших клиентов</h2>
  <div class="slider slider--review">
    <div id="clients-review"  class="touchcarousel   minimal-light">
      <ul class="touchcarousel-container">
        <li class="touchcarousel-item">
          <div class="review__container">
            <div class="review__user">
              <div class="client__avatar">
                <img class="avatar__img" src="content/c/ga.jpg" alt="Андрей Гайдуков"/>
              </div>
              <span class="client__name">Андрей Гайдуков</span>
              <span class="client__post">Руководитель отдела маркетинга и рекламы Solar Fields</span>
              <span class="client__contact-title">Контакты:</span>
              <a class="client__link" href="#">http://solarfields.ru/</a>
              <a class="client__link vk-ico" href="#"></a>
            </div>
            <div class="review__content">
              <p>“Сайт Группы Компаний "SOLAR FIELDS" работал около 2-х лет, однако должного отклика от этого инструмента мы так не и не получили. Проведя тендер на редизайн сайта, сопоставив цены и сроки работы, наш выбор остановился на "Таргет Веб". В совместной работе "Таргет Веб" показал колоссальные результаты, точно смоделировав наши пожелания, учитывая специфику сельскохозяйственного рынка. После создания сайта "Таргет Веб" разработала стратегию привлечения посетителей на сайт, которая в настоящее время успешно работает”.</p>

              <div class="client__site-chart"><img class="chart__img" src="content/i/chart.jpg" alt=""/></div>
            </div>
          </div>
        </li>
        <li class="touchcarousel-item">
          <div class="review__container">
            <div class="review__user">
              <div class="client__avatar">
                <img class="avatar__img" src="content/c/ga.jpg" alt="Андрей Гайдуков"/>
              </div>
              <span class="client__name">Андрей Гайдуков</span>
              <span class="client__post">Андрей Гайдуков</span>
              <span class="client__contact-title">Андрей Гайдуков</span>
              <a class="client__link" href="#">http://solarfields.ru/</a>
              <a class="client__link vk-ico" href="#"></a>
            </div>
            <div class="review__content">
              <p>“Сайт Группы Компаний "SOLAR FIELDS" работал около 2-х лет, однако должного отклика от этого инструмента мы так не и не получили. Проведя тендер на редизайн сайта, сопоставив цены и сроки работы, наш выбор остановился на "Таргет Веб". В совместной работе "Таргет Веб" показал колоссальные результаты, точно смоделировав наши пожелания, учитывая специфику сельскохозяйственного рынка. После создания сайта "Таргет Веб" разработала стратегию привлечения посетителей на сайт, которая в настоящее время успешно работает”.</p>

              <div class="client__site-chart"><img class="chart__img" src="content/i/chart.jpg" alt=""/></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
