<div class="container">
  <h2 class="title title--footer">Ваш сайт не продает?</h2>

  <h3 class="title title--footer">Обратитесь к нам!</h3>
  <h4 class="title title--footer">Мы создаем сайты для бизнеса, которые приносят владельцам деньги.</h4>

  <div class="contacts__footer">
    <span class="phone--footer">8 (989) 614-07-77</span>
    <a class="btn btn--red btn--call" href="#">Заказать обратный звонок</a>
  </div>
  <a class="mail__link mail__link--footer" href="mailto:mail@targetweb.ru">mail@targetweb.ru</a>
</div>