<div class="top-line">
  <div class="logo">
    <img src="i/logo.png" alt="<%= current_page.data.title%>"/>
  </div>
  <div class="slogan">
    <span class="slogan__text">Разработка и продвижение сайтов для бизнеса</span>
  </div>
  <div class="contact-info contact-info--header">
    <span class="work__time">Ежедневно с 9.00 до 18.00 (МСК)</span>
    <span class="phone__number">8 (863) 242 43 44</span>
    <span class="phone__number">8 (989) 614 07 77</span>
    <a class="btn btn--red" href="#">Заказать звонок</a>
  </div>
</div>
<div class="nav">
  <div class="container">
    <button class="nav__toggle" type="button" data-target="nav__items"></button>
    <ul class="nav__items">
      <li class="nav__item"><a class="nav__link" href="#clients">Наши клиенты</a></li>
      <li class="nav__item"><a class="nav__link" href="#portfolio">Наши работы</a></li>
      <li class="nav__item"><a class="nav__link" href="#reviews">Отзывы от нас</a></li>
      <li class="nav__item"><a class="nav__link" href="#services">Наши услуги</a></li>
      <li class="nav__item"><a class="nav__link" href="#order">Заказать сайт</a></li>
      <li class="nav__item"><a class="nav__link" href="#how-we-work">Как мы работаем</a></li>
      <li class="nav__item"><a class="nav__link" href="#contacts">Как нас найти</a></li>
    </ul>
  </div>
</div>