<div class="container">
  <h2 class="title title--how">Как мы работаем?</h2>
  <ul class="how__items">
    <li class="how__item">
      <span class="how__ico how__ico--phone"></span>
      <span class="how__title">Звоните нам <br>8 (989) 614-07-77 или оставьте заявку и <br>с вами свяжется ваш личный менеджер.</span>
      <span class="how__arrow"></span>
    </li>
    <li class="how__item">
      <span class="how__ico how__ico--analise"></span>
      <span class="how__title">Мы бесплатно проведем анализ вашей отрасли и составим прогноз эффективности рекламной кампании.</span>
      <span class="how__arrow"></span>
    </li>
    <li class="how__item">
      <span class="how__ico how__ico--present"></span>
      <span class="how__title">Емкая презентация на 15 мин. о<br>влиянии сайта на продажи. <br>Никакой воды только факты!</span>
    </li>
  </ul>
  <ul class="how__items">
    <li class="how__item">
      <span class="how__ico how__ico--respect"></span>
      <span class="how__title">Мы уважаем свое и ваше время. <br>Поэтому мы сами, бесплатно, составим за вас бриф или ТЗ.</span>
      <span class="how__arrow"></span>
    </li>
    <li class="how__item">
      <span class="how__ico how__ico--prepare"></span>
      <span class="how__title">Подготовим 3 варианта по цене и опциям, исходя из вашего бюджета, целей и задач вашей компании. </span>
      <span class="how__arrow"></span>
    </li>
    <li class="how__item">
      <span class="how__ico how__ico--calendar"></span>
      <span class="how__title">Сроки на разработку от 14 дней, до 3-х вариантов макета и полный отчет о рекламной кампании.</span>
    </li>
  </ul>
</div>