<div class="container">
  <div class="promo">
    <span class="promo__msg">Мы сделаем сайт,<br> который принесет вам прибыль.<br> Или вернем деньги.</span>
  </div>
  <div class="order-form">
    <form action="#" class="form form--order">
      <div class="form__row">
        <legend class="legend">Оставьте заявку прямо сейчас и мы настроим контекстную рекламу бесплатно!</legend>
      </div>
      <div class="form__row">
        <input class="input" type="text" placeholder="Ваше имя"/>
      </div>
      <div class="form__row">
        <input class="input" type="text" placeholder="Телефон"/>
      </div>
      <div class="form__row">
        <input class="btn btn--cyan btn--submit" type="submit" value="Отправить"/>
      </div>
      <div class="form__row">
        <span class="info__msg">Ваши данные не будет переданы третьим лицам</span>
      </div>
    </form>
  </div>
</div>