<div class="container">
  <h2 class="title title--our-works">Наши работы</h2>
  <div class="slider">
    <div class="flipster">
      <ul>
        <% 5.times do %>
        <li>
          <a href="#" class="Button Block">
            <img src="content/i/portfolio_1.png" alt=""/>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>