<div class="container">
  <h2 class="title title--services">Мы оказываем весь комплекс услуг</h2>

  <div class="services__list">
    <ul class="services__items">
      <li class="services__item">
        <span class="services__ico s-card"></span>
        <span class="services__title">Сайт-визитка</span></li>
      <li class="services__item">
        <span class="services__ico s-shop"></span>
        <span class="services__title">Интернет-магазин</span></li>
      <li class="services__item ">
        <span class="services__ico s-mobile"></span>
        <span class="services__title">Разработка сайта под мобильные устройства</span></li>
      <li class="services__item ">
        <span class="services__ico s-design"></span>
        <span class="services__title">Дизайн сайта</span></li>
    </ul>
    <ul class="services__items">
      <li class="services__item">
        <span class="services__ico s-client-gen"></span>
        <span class="services__title">Генерация потока<br> клиентов</span></li>
      <li class="services__item">
        <span class="services__ico s-campaign"></span>
        <span class="services__title">Рекламная кампания</span></li>
      <li class="services__item">
        <span class="services__ico s-business"></span>
        <span class="services__title">Сайты для бизнеса</span></li>
      <li class="services__item">
        <span class="services__ico s-corp"></span>
        <span class="services__title">Корпоративные сайты</span></li>
    </ul>
  </div>
</div>