<a class="we-know__down-link" href="#" title="Прокрутить вниз"></a>
<div class="container">
  <h3 class="title title--know">Эти компании работают с нами потому что мы знаем:</h3>
  <ul class="we-know__list">
    <li class="we-know__item">Как привлечь поток горячих клиентов на ваш сайт</li>
    <li class="we-know__item">Как закрыть все возражения и опасения клиента</li>
    <li class="we-know__item">Как повысить лояльность и сделать повторные продажи</li>
    <li class="we-know__item">Как задержать внимание клиента на сайте</li>
    <li class="we-know__item">Как без CEO быть первым с Яндексе и Гугле</li>
  </ul>
</div>