<div class="why__top">
  <div class="container">
    <h2 class="title title--studio">Почему нужно заказать сайт у нас?</h2>
  </div>
</div>
<div class="container">
  <%# Что поменялось. Теперь 2 блока дублирующих друг друга. Первый для PC и таблеток,
      второй для телефонов. Блоки форматируются по разному.
      Блок для PC форматируется построчным сравнением, тоесть - левые и правые
      строки заключены в одну обертку с классом why__line
      Далее внутри 2 блока с классами для левого "another-studio" для правого "our-studio".
      Под мобильные добавлю блок позже.
   %>
  <div class="why__container">

    <div class="why__line why__line--firs">
      <div class="studio__another studio__col studio__col--title">
        <div class="studio__container">
          <h3 class="title title--studio title--another-studio">95% вебстудий</h3>
        </div>
      </div>
      <div class="studio__our studio__col studio__col--title">
        <div class="studio__container">
          <h3 class="title title--studio title--our-studio">Наша методика</h3>
        </div>
      </div>
    </div>
    <% 5.times do %>
    <div class="why__line">
      <div class="studio__another studio__col">
        <div class="studio__container">
          <h6 class="title title--studio title--another-studio">Владельцы современных вебстудий</h6>
          <p class="studio__msg">Большинство владельцев вебстудий являются программистами или дизайнерами. Их не интересует рост ваших продаж или маркетинг.</p>
        </div>
      </div>
      <div class="studio__our studio__col">
        <div class="studio__container">
          <h6 class="title title--studio title--our-studio">Владельцы современных вебстудий</h6>
          <p class="studio__msg">Большинство владельцев вебстудий являются программистами или дизайнерами. Их не интересует рост ваших продаж или маркетинг. Большинство владельцев вебстудий являются программистами или дизайнерами. Их не интересует рост ваших продаж или маркетинг.</p>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>