<div class="container">
  <h2 class="title title--work">С нами уже работают</h2>
  <ul class="clients__brands">
    <li class="client__brand"><img class="client__brand-img" src="content/brands/bmw.jpg" alt="BMW"/></li>
    <li class="client__brand"><img class="client__brand-img" src="content/brands/chevrolet.jpg" alt="Chevrolet"/></li>
    <li class="client__brand"><img class="client__brand-img" src="content/brands/gendalf.png" alt="Gendalf"/></li>
    <li class="client__brand"><img class="client__brand-img" src="content/brands/mini.jpg" alt="Mini"/></li>
    <li class="client__brand"><img class="client__brand-img" src="content/brands/opel.jpg" alt="Opel"/></li>
    <li class="client__brand"><img class="client__brand-img" src="content/brands/open-world.png" alt="Открытый мир"/></li>
    <li class="client__brand"><img class="client__brand-img" src="content/brands/solar-fileds.png" alt="Solar Fields"/></li>
  </ul>
</div>